body {
  background-color: $main-color;
  header {
    padding: 20px 0;
    text-align: center;
    img {
      width: 60px;
    }
  }
  .main {
    img {
      width: 100%;
    }
  }
  footer {
    padding: 20px 0;
  }
}